html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}
header{
	background-color: #ff80aa;
	padding: 40p;
	padding-right: 20px;
	text-align: center;
}
h1{
	font-size: 90px;
	color:white;
}

header img{
	border-radius: 150px;
	width: 300px;
	border:10px solid #b3b3b3;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
img.big-image{
	max-width: 100%;
}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
footer{
	margin-top: 20px;
	padding:40px 20px;
	font-style: italic;
	background-color: grey;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin:0 5px;

}

/*<header><img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/126679847/original/c1b3abbb7e4d0699c49e26641679f25b95f265c8/teach-quran-pak-with-tajweed.jpeg">
		<h1>Quran-e-Pak</h1>
	</header>*/